<mat-spinner *ngIf="isLoading" diameter="75"></mat-spinner>

<mat-accordion *ngIf="!isLoading && posts.length > 0" multi="false">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ post.title }}</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="post-image">
      <img [src]="post.imageUrl" alt="post.title" />
    </div>

    <div style="white-space: pre-line">{{ post.content }}</div>

    <ng-container *ngIf="authService.currentUser$ | async; let user">
      <mat-action-row *ngIf="user?.id === post.creator.toString()">
        <a
          [routerLink]="['edit-post', post.id]"
          mat-button
          color="primary"
          [disabled]="isLoading"
          >EDIT</a
        >
        <button
          (click)="onDelete(post.id)"
          mat-button
          color="warn"
          [disabled]="isLoading"
        >
          DELETE
        </button>
      </mat-action-row>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator
  *ngIf="posts.length > 0"
  [length]="totalPosts"
  [pageSize]="pageSize"
  [pageSizeOptions]="[2, 3, 4, 5]"
  aria-label="Select page"
  (page)="onPageChange($event)"
>
</mat-paginator>

<p *ngIf="!isLoading && posts.length === 0" class="info-text mat-body-1">
  No posts yet.
</p>
