<mat-spinner *ngIf="loading" diameter="75"></mat-spinner>

<mat-accordion *ngIf="!loading && posts.length > 0" multi="false">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ post.title }}</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="post-image">
      <img [src]="post.imageUrl" alt="post.title" />
    </div>

    <div style="white-space: pre-line">{{ post.content }}</div>

    <mat-action-row>
      <a
        [routerLink]="['edit-post', post.id]"
        mat-button
        color="primary"
        [disabled]="loading"
        >EDIT</a
      >
      <button
        (click)="onDelete(post.id)"
        mat-button
        color="warn"
        [disabled]="loading"
      >
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator
  [length]="totalPosts"
  [pageSize]="pageSize"
  [pageSizeOptions]="[2, 3, 4, 5]"
  aria-label="Select page"
  (page)="onPageChange($event)"
>
</mat-paginator>

<p *ngIf="!loading && posts.length === 0" class="info-text mat-body-1">
  No posts yet.
</p>
