<mat-card>
  <h2 class="mat-title">Add New Post</h2>

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input
      [(ngModel)]="enteredTitle"
      matInput
      placeholder="Enter post title"
      autocomplete="off"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Content</mat-label>
    <textarea
      [(ngModel)]="enteredContent"
      matInput
      name="content"
      id="content"
      cols="50"
      rows="5"
      placeholder="Enter post content"
    ></textarea>
  </mat-form-field>
  <button (click)="onAddPost()" mat-raised-button color="accent">
    Save Post
  </button>
</mat-card>
