<mat-card>
  <h2 class="mat-title">{{ pageTitle }}</h2>

  <form #postForm="ngForm" (submit)="onSubmit(postForm)">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input
        #title="ngModel"
        [ngModel]="post?.title"
        matInput
        name="title"
        id="title"
        autocomplete="off"
        required
        minlength="3"
        maxlength="100"
        [disabled]="loading"
      />
      <mat-error *ngIf="title.invalid">Title is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Content</mat-label>
      <textarea
        #content="ngModel"
        [ngModel]="post?.content"
        matInput
        name="content"
        id="content"
        cols="50"
        rows="5"
        required
        minlength="10"
        maxlength="1000"
        [disabled]="loading"
      ></textarea>
      <mat-error *ngIf="content.invalid">Content is required</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" [disabled]="loading">
      Save Post
    </button>
  </form>
</mat-card>
