<mat-card>
  <h2 class="mat-title">Register</h2>

  <mat-spinner *ngIf="isLoading" diameter="75"></mat-spinner>

  <form
    #registerForm="ngForm"
    *ngIf="!isLoading"
    (submit)="onRegister(registerForm)"
  >
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        #emailInput="ngModel"
        ngModel
        matInput
        id="email"
        name="email"
        type="email"
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid">Email is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        #passwordInput="ngModel"
        ngModel
        matInput
        id="password"
        name="password"
        type="password"
        required
        minlength="6"
        maxlength="255"
      />
      <mat-error *ngIf="passwordInput.invalid">Password is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input
        #passwordConfirmation="ngModel"
        ngModel
        matInput
        id="passwordConfirmation"
        name="passwordConfirmation"
        type="password"
        required
        minlength="6"
        maxlength="255"
      />
      <mat-error *ngIf="passwordConfirmation.invalid"
        >Password confirmation is required</mat-error
      >
    </mat-form-field>

    <button
      [disabled]="registerForm.invalid"
      mat-raised-button
      color="accent"
      type="submit"
    >
      Register
    </button>
  </form>
</mat-card>
