<mat-card>
  <h2 class="mat-title">{{ pageTitle }}</h2>

  <form *ngIf="postForm" [formGroup]="postForm" (submit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput id="title" autocomplete="off" />
      <mat-error *ngIf="postForm.get('title')?.invalid"
        >Title is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Image URL</mat-label>
      <input
        formControlName="imageUrl"
        matInput
        id="imageUrl"
        type="url"
        autocomplete="off"
      />
      <mat-error *ngIf="postForm.get('imageUrl')?.invalid"
        >Image URL is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Content</mat-label>
      <textarea
        formControlName="content"
        matInput
        id="content"
        cols="50"
        rows="5"
      ></textarea>
      <mat-error *ngIf="postForm.get('content')?.invalid"
        >Content is required</mat-error
      >
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" [disabled]="loading">
      Save Post
    </button>
  </form>
</mat-card>
