<mat-card>
  <h2 class="mat-title">{{ pageTitle }}</h2>

  <mat-spinner *ngIf="loading" diameter="75"></mat-spinner>

  <form
    *ngIf="!loading && postForm"
    [formGroup]="postForm"
    (submit)="onSubmit()"
  >
    <mat-form-field appearance="fill">
      <mat-label>Image URL</mat-label>
      <input
        formControlName="imageUrl"
        matInput
        id="imageUrl"
        type="url"
        autocomplete="off"
      />
      <mat-error *ngIf="postForm.get('imageUrl')?.invalid"
        >Image URL is required</mat-error
      >
    </mat-form-field>

    <div *ngIf="postForm.value.imageUrl" class="image-preview">
      <img [src]="postForm.value.imageUrl" [alt]="postForm.value.title" />
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput id="title" autocomplete="off" />
      <mat-error *ngIf="postForm.get('title')?.invalid"
        >Title is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Content</mat-label>
      <textarea
        formControlName="content"
        matInput
        id="content"
        cols="50"
        rows="5"
      ></textarea>
      <mat-error *ngIf="postForm.get('content')?.invalid"
        >Content is required</mat-error
      >
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" [disabled]="loading">
      Save Post
    </button>

    <button
      mat-raised-button
      routerLink="/"
      routerLinkActive="active"
      style="margin-left: 1rem"
      type="button"
    >
      Cancel
    </button>
  </form>
</mat-card>
